@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');


:root{
    --cor1: #222338;
    --cor2: #FFC400;
    --cor3: #E6C7FA;
    --cor4: #fcfbfd;
    --cor5: #150052;
    --cor6: #693AB0;
}

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Lato', sans-serif;
    /* background-color: #6c33a3;
    background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);
    background: #f0ecf3; */
}

.cabecalho{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--cor1);
    background-color: var(--cor4);
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 79px;
    padding-right: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 890px;
    position: fixed;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 7%);
}

.cabecalho-menu{
    display: flex;
    gap: 25px;
}

.botao-principal0{
    height: 36px;
    width: 141px;
    border: none;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 9%);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--cor1);
    background: var(--cor2);
}

.botao-principal0:hover{
    background: #f7d35e;
}

/* .cabecalho-menu-item{
    font-family: 'Lato', sans-serif;
    color: var(--cor1);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
} */

.primeiro-bloco{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    background: var(--cor1);
    padding-top: 63px;
}

.imagem-principal{
    height: 500px;
    width: 500px;
}

.texto-principal{
    color: var(--cor4);
    padding-right: 83px;
    padding-left: 25px;
    line-height: 1.3;
}

.titulo{
    padding-bottom: 20px;
    font-size: 39px;
}

.subtitulo{
    padding-bottom: 25px;
    font-size: 19px;
}

.botao{
    display: flex;
    gap: 2%;
}

.botao-principal1{
    height: 36px;
    width: 141px;
    border: none;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 9%);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor1);
    background: var(--cor2);
}

.botao-principal1:hover{
    background: #f7d35e;
}

.botao-principal2{
    height: 36px;
    width: 141px;
    border: 0.5px solid white;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 9%);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor4);
    background: var(--cor1);
}

.botao-principal2:hover{
    background: #3f4061;
}

main > h2{
    padding: 40px 28px 5px 35px;
    font-family: 'Roboto', sans-serif;
    color: var(--cor1);
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    /* border-top: 0.4px solid #FFF2E7; */
}

.texto-servicos{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 18px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 30px;
    font-size: 15px;
    text-align: center;
    color: #3f4061;
}

.texto1 > h3{
    color: var(--cor6);
    padding-bottom: 4px;
    font-size: 1.4em;
}

.texto2 > h3{
    color: var(--cor6);
    padding-bottom: 4px;
    font-size: 1.4em;
}

/* .texto3{
    background-color: white;
    border-radius: 15px;
    padding: 14px;
} */

.texto3 > h3{
    color: var(--cor6);
    padding-bottom: 4px;
    font-size: 1.4em;
}

.pix{
    background-color: var(--cor6);
    margin: 40px;
    border-radius: 28px;
    padding: 30px 30px 5px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fcfbfd;
    font-size: 18px;
    text-align: justify;
    line-height: 1.3;
}

.pixh2{
    padding-bottom: 10px;
}

.pixp{
    padding-right: 37px;
}

.formulario{
    
}

.botao-formulario{
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.botao-formulario:hover{
    background: #a6c900;
}

button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
button:hover svg {
    transform: translateX(5px);
   }

button:active {
    transform: scale(0.95);
   }